################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/csvCleaner/bin/Debug/netcoreapp2.2
/src/csvCleaner/obj
/src/entities/bin/Debug/netstandard2.0
/src/entities/obj/Debug/netstandard2.0
/src/entities/obj
/src/main/bin/Debug/netstandard2.0
/src/main/obj
/test/domain.test/bin/Debug/netcoreapp2.2
/test/domain.test/obj/Debug/netcoreapp2.2
/test/domain.test/obj
/test/main/bin/Debug/netcoreapp2.2
/test/main/obj
